.navbar{
	margin-bottom: 0px;
}

.lista{
	padding: 10px;
}

.tema{
	padding: 10px;
}

.video{
	border: 2px solid;
	margin-top: 30px;
	border-radius: 20px;
}
.video-frame{
	border: 2px solid;
	border-radius: 20px;
}

.comentarios{
	margin-top: 10px;
}
.classificacao{
	margin-top: 10px;
}